{% extends 'base.html.twig' %}

{% block title %}
Bienvenue dans "World of Relaxation"
{% endblock %}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="media/suite.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Relax</h5>
        <p>Nos suites de reves</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="media/spa2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Massage</h5>
        <p>Bien-être Détente</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="media/restaurant.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>mangez avec une vue sublime</h5>
        <p>un large choix...3 restaurants sur place</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<p>
À propos de cet hôtel
Aménagé dans un château de 1892, au beau milieu d'un parc verdoyant, cet hôtel somptueux se situe à 1,5 km de l'Arc de Triomphe et à 1,9 km de la tour Eiffel.
Mêlant décoration ancienne et touches modernes, les chambres de luxe aux styles différents comprennent toutes une machine Nespresso, un dock pour iPod et un accès Wi-Fi. Les suites disposent en outre d'une salle de séjour.

L'établissement possède un restaurant majestueux, un bar doté d'une bibliothèque, ainsi qu'une véranda et un café éclectique pourvu d'une terrasse. Il comporte également un hammam, un centre de remise en forme et un spa de jour où sont dispensés des soins. Un parking avec service de voiturier est proposé. Des ordinateurs portables et des iPad sont à la disposition des clients.

Arrivée : 15:00
Départ : 12:00

</p>
<br>
<br>
<p>
Santé et sécurité
Nettoyage renforcé
Désinfectant de qualité professionnelle utilisé pour le nettoyage de l'établissement
Nettoyage renforcé des espaces communs
Cet hôtel applique des mesures de santé et de sécurité. Pour en savoir plus, contactez-le.

</p>



{% endblock %}