{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<H1>
Votre experience
</H1>


<br>
<br>
<br>
<!-- Primary -->
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
    Restauration
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">restauration</a></li>
    <li><a class="dropdown-item" href="#">Bar</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<!-- Secondary -->
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
    Bien etre
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Spa</a></li>
    <li><a class="dropdown-item" href="#">Propreté</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<!-- Success -->
<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
    Spa
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<!-- Info -->
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
Propreté
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<!-- Warning -->
<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
    Service
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<!-- Danger -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
    Bar
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<!-- Danger -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
    Activités
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<!-- Dark -->
<div class="btn-group">
  <button type="button" class="btn btn-dark dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
    Sport
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<!-- Light -->
<div class="btn-group shadow-0">
  <button type="button" class="btn btn-light dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
    Plus utiles
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Plus récents</a></li>
    <li><a class="dropdown-item" href="#">Meilleurs notes</a></li>
    <li><a class="dropdown-item" href="#">Moins bonnes notes</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<!-- Link -->
<div class="btn-group shadow-0">
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
<br>
<br>
<p>   </p>
<br>
<br>
<p>  Rebecca Aron
<br>
il y a un mois sur  Google
<br>
5/5 
<br> </p>
<p class="text-sm-start">Un Palace avec son petit air de vacances 🌴 en plein Paris !
Le personnel à tous niveaux est particulièrement bienveillant & professionnel ! Merci Baptiste de toujours prendre soin de ma voiture </p>
<p class="text-md-start">
Jean-Louis LIPSKI
<br>
il y a 3 mois sur  Google
<br>
5/5
<br>
Superbe adresse excellente soirée passée au restaurant gastronomique "Les Belles feuilles ". Repas remarquable par son originalité et la qualité des produits. Cuisine imaginative et de très grande qualité. Personnel au petit soin. Mérite 3 étoiles au Michelin par rapport aux quelques trois étoiles que j'ai pu essayer.</p>

<br>
<br>

{% endblock %}