{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

<p>

<br>

<br>
<h2>Paris</h2>
<h3>CONTACT US</h3>
ADDRESS
31, AVENUE GEORGE V, 75008 PARIS, FRANCE
<br>
RESERVATIONS
+33 (1) 49 52 71 00
<br>
RESERVATIONS EMAIL
RESERVATION.PARIS@FOURSEASONS.COM
<br>
<br>
FRONT DESK
+33 (1) 49 52 70 00
GUEST FAX
+33 (1) 49 52 70 10
<br>
<br>
RESTAURANT LE Prestige
+33 (1) 49 52 71 54
<br>
<br>
RESTAURANT CARTE BLANCHE
+33 (1) 49 52 72 09
<br>
RESTAURANT FAST AND DELICIOUS
+33 (1) 49 52 72 24
<br>
RESTAURANT LA GALERIE & BAR
+33 (1) 49 52 70 06
<br>
THE TERRACES
+33 (1) 49 52 72 09

<br>
</p>
 <button onclick="window.location.href = 'https://www.google.com/maps/dir//H%C3%B4tel+Oceania+Paris/';">Itinéraire</button>
{% endblock %}