{% extends 'base.html.twig' %}

{% block title %}
<h1>Hello</h1>
{% endblock %}

{% block body %}
<br>
<h1>Welcome to Paris Beauty Hotel</h1>

<br>
<p>
Les toits de Paris, les monuments et les lumières… 
<br>
Avec ces petits immeubles, Paris possède une vue dégagée particulière pour une capitale. 
<br>
Ne vous privez pas de cette vue imprenable, au calme de votre chambre d’hôtel, qui vous fera voir Paris d’une toute autre manière la capitale. Voici notre sélection de chambres et suites luxieux avec les meilleures vues sur la ville.

</p>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="media/paris.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="media/photo-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="media/room.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<br>
<br>
<br>



{% endblock %}