{% extends "base.html.twig" %}

{% block body %}

	<h1 class="text-center">Réserver votre chambre</h1>

	<div class="col-md-6">
		<div class="card mb-3" style="width: 18rem;">
			<h3 class="card-header">{{ chambre.titre }}</h3>
			<img src="{{chambre.photo }}" alt="Image de la chambre">
			<div class="card-body">
				<p class="card-text">{{ chambre.descriptionLongue|raw }}</p>
				<p class="card-text text-end fw-bold">{{ chambre.prixJournalier /100 }}€/j</p>
			</div>
		</div>
	</div>

	


{% endblock %}