{% extends "base.html.twig" %}

{% block body %}
<h1>3 Restaurants sur place</h1>
    <h2 class="text-center">Restaurant Prestige</h2>
    <p>
    Ouvert pour : Brunch, Déjeuner, Dîner, Apéritif

    Menu : À la carte
    </p>
    <a class="btn btn-outline-info" href="https://prestigia-restaurants.fr/file/place-18078-xopupqxrao.pdf">Mon Menu Prestige</a>
    <br>
    <h2> LAISSER PLACE A LA PASSION  </h2>
   <br>
    <a class="btn btn-outline-info" href="https://restaurantpassionne.com/menu/">Menu carte blanche</a>
    
    
    <br>

    <h2> Fast and Delicious </h2>

   
    <a class="btn btn-outline-info" href="http://www.eastsideburgers.fr/en">Fast and Delicious</a>

 <p>
    NEWS
    <br>
*** WE ARE OPEN INSIDE ***
<br>

NOS HORAIRES HORAIRES :
<br>
mardi au vendredi : 12h-14h / 19h-21h
<br>
samedi : 12h-15h / 19h-21h
<br>
dimanche : 12h-15h
<br>

** Horaires spéciaux 
<br>
vendredi 7 et samedi 8 octobre :
vendredi 7/10: 12h-15h, puis 19h/21h30
<br>
samedi 8/10 : 12h-20h non stop **
<br>
*** fermeture exceptionnelle dimanche 9/10
    </p>

{% endblock %}
