{% extends "base.html.twig" %}

{% block body %}

	<h1 class="text-center">Restaurant Prestige</h1>
    <a  href="https://prestigia-restaurants.fr/file/place-18078-xopupqxrao.pdf">Mon Menu</a>

{% endblock %}