{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %} 
<h1 style="text-align:center">Un savoir faire
au service de votre bien-être </h1>
 <p style="text-align:center"><img src={{asset('media/spa.jpg')}} width=80%></p>
 <footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Les avantages d'un spa</h5>

        <p>
          La gamme Massage met à votre disposition de nombreuses alternatives de spas pour vous offrir le meilleur du bien-être. Vous y retrouverez 5 modèles allant de 3 à 6 places tous plus impressionnant les uns des autres. Sentez sur votre corps les puissants jets hydromassants dans un spa chauffé pour vous relaxer.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Details</h5>

        <p>
          1
Une facilité d’utilisation
avec la technologie
Balboa
<br>
2
Equipé de la
chromothérapie et de
l’aromathérapie
<br>
3
Une filtration et un traitement
exclusif par double aspiration
avec la technologie GR CLEAN
<br>
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
   
    <a class="text-dark" href="https://mdbootstrap.com/">Mon Spa</a>
  </div>
 
</footer>


{% endblock %}